.about {
    padding-top: 85px;
    background-color: #1f1b1c;
    // width: 100%;
    padding-left: auto;
    padding-right: auto;

    // text-align: center;
    .aboutTe {
        display: flex;
        flex-direction: row;
        // justify-content: space-evenly;
        .aboutText {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-left: 73px;
            .h1 {
                font-family: "Inconsolata";
                font-style: normal;
                font-weight: 900;
                font-size: 64px;
                line-height: 67px;
                color: #ff8303;
            }
            .h2 {
                padding: 10px 0px 10px 0px;
                font-weight: 700;
                font-size: 40px;
                line-height: 42px;
                /* identical to box height */

                color: #f0e3ca;
            }
            .p {
                display: block;
                margin-bottom: 20px;
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 21px;

                color: #f0e3ca;
            }
        }
        // .aboutImg {
        //     // margin: 72px 72px 72px;
        //     // height: auto;
        //     // width: auto;
        //     .aboutImages {
        //         // height: 100%;
        //         // width: 100%;
        //     }
        // }
    }
    .aboutTitle {
        // margin: 0;
        // padding: 0;
        // width: 1440px;
        // height: 204px;
        padding-top: 35px;
        padding-bottom: 20px;
        width: 100%;
        // width: 904px;
        display: flex;
        justify-content: center;
        align-items: center;
        p {
            width: 816px;
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 25px;

            color: #f0e3ca;
        }

        background-color: #171515;
    }
}

@media screen and (max-width: 1000px) {
    .about {
        padding-top: 100px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        .aboutTe {
            display: flex;
            flex-direction: column;
        }
        .aboutTitle {
            p {
                width: 500px;
            }
        }
    }
}
