.work {
    padding-top: 25px;
    .workText {
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 34px;
        text-align: center;

        color: #ff8303;
    }
}
